version: '3.7'
services:
  nginx:
    build: ./requirements/nginx/
    container_name: nginx
    restart: always
    depends_on:
      - wordpress
    env_file:
      - .env
    image: nginx
    ports:
      - "443:443"
    networks:
      - my-network
    volumes:
      - wordpress:/var/www/wordpress/

  wordpress:
    build: ./requirements/wordpress/
    container_name: wordpress
    restart: always
    image: wordpress
    depends_on:
      - mariadb
    env_file:
      - .env
    networks:
      - my-network
    volumes:
      - wordpress:/var/www/wordpress/

  mariadb:
    build: ./requirements/mariadb/
    env_file:
      - .env
    restart: always
    container_name: mariadb
    image: mariadb
    networks:
      - my-network
    volumes:
      - DB:/var/lib/mysql



networks:
  my-network:
    driver: bridge

volumes:
  wordpress:
    driver_opts:
      o: bind
      type: none
      device: /Users/yabakhar/Desktop/inception_volume/wordpress
  DB:
    driver_opts:
      o: bind
      type: none
      device: /Users/yabakhar/Desktop/inception_volume/mariadb