version: '3.7'
services:
  nginx:
    build: ./requirements/nginx/
    container_name: nginx
    restart: on-failure
    depends_on:
      - wordpress
    env_file:
      - .env
    image: nginx
    ports:
      - "443:443"
    networks:
      - my-network
    volumes:
      - wordpress:/var/www/wordpress/

  wordpress:
    build: ./requirements/wordpress/
    container_name: wordpress
    restart: on-failure
    image: wordpress
    depends_on:
      - mariadb
    env_file:
      - .env
    networks:
      - my-network
    volumes:
      - wordpress:/var/www/wordpress/

  mariadb:
    build: ./requirements/mariadb/
    env_file:
      - .env
    restart: on-failure
    container_name: mariadb
    image: mariadb
    networks:
      - my-network
    volumes:
      - DB:/var/lib/mysql

  adminer:
    build: ./requirements/bonus/adminer/
    env_file:
      - .env
    restart: on-failure
    ports: 
      - 8080:8080
    container_name: adminer
    image: adminer
    networks:
      - my-network

  cadvisor:
    build: ./requirements/bonus/cadvisor
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk:/dev/disk/:ro
    networks:
      - my-network
    container_name: cadvisor
    image: cadvisor

  redis:
    build: ./requirements/bonus/redis
    restart: always
    networks:
      - my-network
    ports:
      - "6379:6379"
    container_name: redis

  staticweb:
    build: ./requirements/bonus/static_website
    restart: always
    ports:
      - "80:80"
    networks:
      - my-network
    container_name: staticweb
    image: staticweb


networks:
  my-network:
    driver: bridge

volumes:
  wordpress:
    driver_opts:
      o: bind
      type: none
      device: /Users/yabakhar/Desktop/inception_volume/wordpress
  DB:
    driver_opts:
      o: bind
      type: none
      device: /Users/yabakhar/Desktop/inception_volume/mariadb